# build output
build
dist
.svelte-kit

# debug
.pnpm-debug.log*

# dependencies
node_modules

# local env files
.env
.env.*
!.env.example

# misc
.DS_Store
*.pem
*vite.config.ts.timestamp*

# test output
test-results

# turbo
.turbo

# vercel
.vercel