# build output
.astro
.svelte-kit
build
dist

# dependencies
node_modules

# local env files
.env
.env.*
!.env.example

# misc
.DS_Store
*.pem

# pnpm
.pnpm-debug.log*
pnpm-lock.yaml

# turbo
.turbo

# vercel
.vercel

# webmanifest
site.webmanifest