# build output
.astro
.svelte-kit
build
dist

# dependencies
node_modules

# local env files
.env
.env.*
!.env.example

# misc
.DS_Store
*.pem
*vite.config.ts.timestamp*

# pnpm
.pnpm-debug.log*
pnpm-lock.yaml

# test output
playwright-report
test-results

# turbo
.turbo

# vercel
.vercel

# webmanifest
site.webmanifest
