.container {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  min-width: 10rem;
  gap: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
