---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
	<div class="flex flex-col gap-4">
		<h1 class="h1 text-center">About Me</h1>
		<p class="text-xl">Hello! 👋</p>
		<p class="text-xl">
			I'm a 21-year-old Web Developer and Software Engineering student based in Hamburg, Germany. My
			passion lies in creating efficient and impactful web solutions.
		</p>
	</div>
</BaseLayout>
