---
import Counter from '../components/Counter.svelte';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta content="width=device-width" name="viewport" />
		<meta content={Astro.generator} name="generator" />
		<link href="/favicon.svg" rel="icon" type="image/svg+xml" />
	</head>

	<body data-theme="skeleton">
		<main>
			<Counter client:visible>
				<h1 class="text-5xl">Hello, Svelte and Astro!</h1>
			</Counter>
		</main>
	</body>
</html>
