---
const { title } = Astro.props as { title: string };
import githubLogo from '@assets/images/github.svg';
import '@assets/styles/tailwind.css';
import { LightSwitch } from '@skeletonlabs/skeleton';
import { Image } from 'astro:assets';
---

<html class="h-full" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta content="width=device-width initial-scale=1" name="viewport" />
		<link href="/favicon.svg" rel="icon" type="image/svg+xml" />
		<link
			as="font"
			crossorigin
			href="/fonts/Inter-VariableFont_slnt,wght.ttf"
			rel="preload"
			type="font/ttf"
		/>
		<title>{title}</title>
	</head>

	<body class="flex h-full flex-col" data-theme="skeleton">
		<header class="flex items-center justify-center">
			<nav>
				<ul class="flex justify-center gap-4">
					<li>
						<a class="btn" href="/">Home</a>
					</li>
					<li>
						<a class="btn" href="/about">About</a>
					</li>
				</ul>
			</nav>
			<LightSwitch class="absolute right-4" client:only="svelte" />
		</header>
		<main class="mx-auto w-full md:w-[768px]">
			<slot />
		</main>
		<footer class="mt-auto flex justify-center gap-2 py-4">
			<span>Copyright © {new Date().getFullYear()}</span>
			<a
				class="flex gap-1 font-bold"
				href="https://www.github.com/jangoergens"
				rel="noopener noreferrer"
				target="_blank"
			>
				Jan Görgens
				<Image alt="Github Logo" src={githubLogo} />
			</a>
		</footer>
	</body>
</html>
