@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		@apply text-2xl font-bold text-slate-900;
	}
	h2 {
		@apply text-xl font-bold text-slate-900;
	}
	h3 {
		@apply text-lg font-bold text-slate-900;
	}
	/* button,
	[type="button"],
	[type="reset"],
	[type="submit"] {
		@apply rounded-md bg-orange-500 px-3 py-2 text-sm font-semibold text-white hover:bg-orange-400;
	} */
	.dark {
		h1 {
			@apply text-white;
		}
		h2 {
			@apply text-white;
		}
		h3 {
			@apply text-white;
		}
	}
}

@layer utilities {
	@media screen and (min-width: 960px) {
		.fix-scrollbar-jump {
			margin-left: calc(100vw - 100%);
			margin-right: 0;
		}
	}
}

@font-face {
	font-family: "Inter Variable";
	src: url("/fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}
