@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		@apply h1;
	}
	h2 {
		@apply h2;
	}
	h3 {
		@apply h3;
	}
	h4 {
		@apply h4;
	}
	h5 {
		@apply h5;
	}
	h6 {
		@apply h6;
	}
}

@font-face {
	font-family: "Inter";
	src: url("/fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}
:root [data-theme="skeleton"] {
	--theme-font-family-base: "Inter", sans-serif;
	--theme-font-family-heading: "Inter", sans-serif;
}
@media screen and (min-width: 960px) {
	html {
		margin-left: calc(100vw - 100%);
		margin-right: 0;
	}
}
